BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LCD_CTRL[0]" SITE "B14" ;
LOCATE COMP "LCD_CTRL[1]" SITE "C13" ;
LOCATE COMP "LCD_CTRL[2]" SITE "C14" ;
LOCATE COMP "LCD_CTRL[3]" SITE "D12" ;
LOCATE COMP "LCD_CTRL[4]" SITE "J12" ;
LOCATE COMP "LCD_CTRL[5]" SITE "J14" ;
LOCATE COMP "LCD_CTRL[6]" SITE "J13" ;
LOCATE COMP "LCD_CTRL[7]" SITE "K12" ;
LOCATE COMP "LCD_CTRL[8]" SITE "K13" ;
LOCATE COMP "LCD_CTRL[9]" SITE "K14" ;
LOCATE COMP "LCD_CTRL[10]" SITE "L14" ;
LOCATE COMP "LCD_CTRL[11]" SITE "M13" ;
